page-login{
    #orText{
      text-align: center;
    }

    .imgCol{
        img{
            display:block;
            margin: 0 auto;
            width: 100%;
            max-width: 300px;
            margin-bottom: 40px;
        }
    }

    .loginBox{
      ion-card{
        display: block;
        margin: 0 auto;
        max-width: 400px;
      }
    }
}
