// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.contentMain{
    background: url('https://farm5.static.flickr.com/4023/4412224015_dbe31a4ae4_b.jpg') no-repeat center center fixed;
    background-size: cover;
}

ion-item{
    background-color: #ffffffcc !important;
}

ion-list{
  display: block;
  margin: 0 auto !important;
  padding: 0;
  max-width: 800px;
}

ion-searchbar{
  display:block;
  margin: 0 auto !important;
  padding: 5px;
  max-width: 800px;
}

.centralized{
  display: block;
  margin: 0 auto;
}
