page-lista-livros {

  .button-add-core{
    display: block;
    margin: 8px auto 0;
  }

  .button-add-android{
    position:absolute;
    right: 10px;
    bottom: 10px
  }

  .buttonsCol{
      ion-icon{
        font-size: 2em;
      }
  }

    .item ion-thumbnail {
      img {
        max-width: 70%;
        max-height: 100%;
      }
  }
}
